---
http_interactions:
- request:
    method: get
    uri: https://utilityapi.com/api/v2/meters/711267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HIDE_MY_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 27 Feb 2021 19:19:54 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"authorization_uid\": \"185072\", \n    \"base\": {\n        \"billing_account\":
        \"1234567890-0\", \n        \"billing_address\": \"123 Main St #100, Anytown,
        CA 94612\", \n        \"billing_contact\": \"Heather Homeowner\", \n        \"meter_numbers\":
        [\n            \"A987654321\"\n        ], \n        \"service_address\": \"123
        Main St #100, Anytown, CA 94612\", \n        \"service_class\": \"electric\",
        \n        \"service_identifier\": \"1234567890\", \n        \"service_tariff\":
        \"E1 XB Residential Service\"\n    }, \n    \"bill_count\": 13, \n    \"bill_coverage\":
        [\n        [\n            \"2020-01-01T00:00:00.000000+00:00\", \n            \"2021-02-01T00:00:00.000000+00:00\"\n
        \       ]\n    ], \n    \"bill_sources\": [\n        \"pdf\"\n    ], \n    \"blocks\":
        [\n        \"base\"\n    ], \n    \"created\": \"2021-02-24T00:54:22.155249+00:00\",
        \n    \"exports\": {\n        \"bill_pdf_zipped\": \"https://utilityapi.com/api/v2/files/meters_bills_zip?meters=711267\",
        \n        \"bills_csv\": \"https://utilityapi.com/api/v2/files/meters_bills_csv?meters=711267\",
        \n        \"intervals_csv\": \"https://utilityapi.com/api/v2/files/intervals_csv?meters=711267\",
        \n        \"intervals_xml\": \"https://utilityapi.com/api/v2/files/intervals_xml?meters=711267\",
        \n        \"latest_pdf\": \"https://utilityapi.com/api/v2/files/latest_pdf/711267\",
        \n        \"lineitems_csv\": \"https://utilityapi.com/api/v2/files/meters_lineitems_csv?meters=711267\"\n
        \   }, \n    \"exports_list\": [\n        {\n            \"link\": \"https://utilityapi.com/api/v2/files/meters_bills_csv?meters=711267\",
        \n            \"name\": \"Bills: all bills [csv]\"\n        }, \n        {\n
        \           \"link\": \"https://utilityapi.com/api/v2/files/meters_bills_zip?meters=711267\",
        \n            \"name\": \"Bills: all pdfs [zip]\"\n        }, \n        {\n
        \           \"link\": \"https://utilityapi.com/api/v2/files/latest_pdf/711267\",
        \n            \"name\": \"Bills: latest pdf [pdf]\"\n        }, \n        {\n
        \           \"link\": \"https://utilityapi.com/api/v2/files/intervals_csv?meters=711267\",
        \n            \"name\": \"Intervals: all intervals [csv]\"\n        }, \n
        \       {\n            \"link\": \"https://utilityapi.com/api/v2/files/intervals_xml?meters=711267\",
        \n            \"name\": \"Intervals: all intervals [xml]\"\n        }, \n
        \       {\n            \"link\": \"https://utilityapi.com/api/v2/files/meters_lineitems_csv?meters=711267\",
        \n            \"name\": \"Line items: all bills [csv]\"\n        }\n    ],
        \n    \"interval_count\": 52, \n    \"interval_coverage\": [\n        [\n
        \           \"2015-02-18T04:00:00.000000+00:00\", \n            \"2015-02-20T08:00:00.000000+00:00\"\n
        \       ]\n    ], \n    \"interval_sources\": [\n        \"website\"\n    ],
        \n    \"is_activated\": true, \n    \"is_archived\": false, \n    \"notes\":
        [\n        {\n            \"msg\": \"The utility accepted these credentials
        from the utility account holder.\", \n            \"ts\": \"2021-02-27T18:42:37.531181+00:00\",
        \n            \"type\": \"access_valid\"\n        }, \n        {\n            \"msg\":
        \"The utility website returned all bills requested.\", \n            \"ts\":
        \"2021-02-27T18:42:51.580662+00:00\", \n            \"type\": \"bills_full\"\n
        \       }, \n        {\n            \"msg\": \"The utility website provided
        all intervals requested.\", \n            \"ts\": \"2021-02-27T18:42:51.583970+00:00\",
        \n            \"type\": \"intervals_full\"\n        }, \n        {\n            \"msg\":
        \"All meter details were successfully collected\", \n            \"ts\": \"2021-02-24T00:54:22.155249+00:00\",
        \n            \"type\": \"meters_full\"\n        }\n    ], \n    \"ongoing_monitoring\":
        {\n        \"frequency\": \"off\", \n        \"next_prepay\": null, \n        \"next_refresh\":
        null, \n        \"prepay\": null\n    }, \n    \"status\": \"updated\", \n
        \   \"status_message\": \"Data refreshed\", \n    \"status_ts\": \"2021-02-27T18:42:51.809793+00:00\",
        \n    \"uid\": \"711267\", \n    \"user_email\": null, \n    \"user_uid\":
        null, \n    \"utility\": \"DEMO\"\n}"
  recorded_at: Sat, 27 Feb 2021 19:19:54 GMT
- request:
    method: get
    uri: https://utilityapi.com/api/v2/bills?meters=711267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HIDE_MY_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 27 Feb 2021 19:19:55 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"bills\": [\n        {\n            \"authorization_uid\":
        185072, \n            \"base\": {\n                \"bill_end_date\": \"2021-01-31T16:00:00.000000-08:00\",
        \n                \"bill_start_date\": \"2020-12-31T16:00:00.000000-08:00\",
        \n                \"bill_statement_date\": \"2021-01-31T16:00:00.000000-08:00\",
        \n                \"bill_total_cost\": 156.96, \n                \"bill_total_kwh\":
        743.0, \n                \"bill_total_unit\": \"kwh\", \n                \"bill_total_volume\":
        743.0, \n                \"billing_account\": \"1234567890-0\", \n                \"billing_address\":
        \"123 Main St #100, Anytown, CA 94612\", \n                \"billing_contact\":
        \"Heather Homeowner\", \n                \"meter_numbers\": [\n                    \"A987654321\"\n
        \               ], \n                \"service_address\": \"123 Main St #100,
        Anytown, CA 94612\", \n                \"service_class\": \"electric\", \n
        \               \"service_identifier\": \"1234567890\", \n                \"service_tariff\":
        \"E1 XB Residential Service\"\n            }, \n            \"blocks\": [\n
        \               \"base\", \n                \"sources\", \n                \"line_items\",
        \n                \"tiers\"\n            ], \n            \"created\": \"2021-02-23T17:19:07.786318-08:00\",
        \n            \"line_items\": [\n                {\n                    \"cost\":
        46.44, \n                    \"end\": \"2014-02-05T08:00:00.000000+00:00\",
        \n                    \"kind\": null, \n                    \"name\": \"Tier
        1 Usage\", \n                    \"rate\": 0.1323, \n                    \"start\":
        \"2014-01-07T08:00:00.000000+00:00\", \n                    \"unit\": \"kwh\",
        \n                    \"volume\": 351.0\n                }, \n                {\n
        \                   \"cost\": 15.84, \n                    \"end\": \"2014-02-05T08:00:00.000000+00:00\",
        \n                    \"kind\": null, \n                    \"name\": \"Tier
        2 Usage\", \n                    \"rate\": 0.1504, \n                    \"start\":
        \"2014-01-07T08:00:00.000000+00:00\", \n                    \"unit\": \"kwh\",
        \n                    \"volume\": 105.3\n                }, \n   [...]
