---
http_interactions:
- request:
    method: post
    uri: https://utilityapi.com/api/v2/forms
    body:
      encoding: UTF-8
      string: '{"customer_email":null,"utility":"ACE"}'
    headers:
      Authorization:
      - Bearer HIDE_MY_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 27 Feb 2021 19:19:55 GMT
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"authorization_uid\": null, \n    \"created\": \"2021-02-27T19:19:55.504653+00:00\",
        \n    \"customer_email\": \"\", \n    \"disabled\": false, \n    \"is_archived\":
        false, \n    \"scope\": {}, \n    \"template_uid\": \"33ae3462\", \n    \"uid\":
        \"143760\", \n    \"updated\": \"2021-02-27T19:19:55.514430+00:00\", \n    \"url\":
        \"https://utilityapi.com/authorize/iandouglas_turing?f=11014777-7efa-4aea-afac-96d032600cec\",
        \n    \"user_email\": \"iandouglas@turing.io\", \n    \"user_uid\": \"101879\",
        \n    \"utility\": \"ACE\"\n}"
  recorded_at: Sat, 27 Feb 2021 19:19:55 GMT
recorded_with: VCR 6.0.0
