---
http_interactions:
- request:
    method: get
    uri: https://utilityapi.com/api/v2/files/supported_utilities_json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HIDE_MY_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 27 Feb 2021 19:14:59 GMT
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"documentation\": \"https://utilityapi.com/docs/utilities/ace\",
        \n        \"id\": \"ACE\", \n        \"name\": \"Atlantic City Electric\",
        \n        \"website\": \"https://www.atlanticcityelectric.com/\"\n    }, \n
        \   {\n        \"documentation\": \"https://utilityapi.com/docs/utilities/aepohio\",
        \n        \"id\": \"AEPOHIO\", \n        \"name\": \"American Electric Power
        Ohio\", \n        \"website\": \"https://www.aepohio.com/\"\n    }, \n    {\n
        \       \"documentation\": \"https://utilityapi.com/docs/utilities/aps\",
        \n        \"id\": \"APS\", \n        \"name\": \"Arizona Public Service Company\",
        \[...]
